@page "/edituser/{id:int}"
@inject HttpClient Http
@inject NavigationManager UriHelper

<h3>Edit User</h3>

<EditForm Model="@partyGuest" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <p>
        <label>
            First Name:
            <InputText @bind-Value="partyGuest.FirstName" />
        </label>
    </p>
    <p>
        <label>
            First Name:
            <InputText @bind-Value="partyGuest.LastName">
            </InputText>
        </label>
    </p>
    <div>
        <CancelButton page="partylist"></CancelButton>
        <button type="submit">Submit</button>
    </div>
</EditForm>


@code {
    [Parameter]
    public int id { get; set; }

    private PartyGuest partyGuest = new();

    protected override async Task OnInitializedAsync()
    {
        partyGuest = await Http.GetFromJsonAsync<PartyGuest>("PartyGuest/" + id);
    }

    public async void HandleValidSubmit()
    {
        var result = await Http.PutAsJsonAsync("PartyGuest/" + id, partyGuest);
        if (result != null)
        {
            UriHelper.NavigateTo("userlist");
        }
        
    }
}
