@page "/editparty/{id:int}"
@inject HttpClient Http
@inject NavigationManager UriHelper

<h3>Edit Party</h3>

<EditForm Model="@party" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <p>
        <label>
            Party Name:
            <InputText @bind-Value="party.PartyName" />
        </label>
    </p>
    <p>
        <label>
            Party Date:
            <InputDate @bind-Value="party.PartyDate">
            </InputDate>
        </label>
    </p>
    <p>
        <label>
            Party Host:
            <InputSelect @bind-Value="party.PartyHost.PartyGuestID">
            @foreach (var partyGuest in partyGuests)
            {
                <option value="@partyGuest.PartyGuestID">@partyGuest.PartyGuestName</option>
            }
            </InputSelect>
        </label>
    </p>
    <div>
        <CancelButton page="partylist"></CancelButton>
        <button type="submit">Submit</button>
    </div>
</EditForm>


@code {
    [Parameter]
    public int id { get; set; }
    
    private Party party = new();
    private List<PartyGuest> partyGuests = new();

    protected override async Task OnInitializedAsync()
    {
        party = await Http.GetFromJsonAsync<Party>("Party/" + id);
        partyGuests = await Http.GetFromJsonAsync<List<PartyGuest>>("PartyGuest");
    }

    public async void HandleValidSubmit()
    {
        await Http.PutAsJsonAsync("Party/" + id, party);
        UriHelper.NavigateTo("partylist");
    }
}
