@page "/editparty/{id:int}"
@inject HttpClient Http

<h3>EditParty</h3>

<form>  
    <div class="row">  
        <div class="col-md-8">  
            <div class="form-group">  
                <label for="Name" class="control-label">Party Name</label>  
                <input for="Name" class="form-control" @bind="@party.PartyName" />  
            </div>  
            <div class="form-group">  
                <label for="Department" class="control-label">First Name</label>  
                <input for="Department" class="form-control" @bind="@party.PartyHost.FirstName" />  
            </div>  
            <div class="form-group">  
                <label for="Designation" class="control-label">Last Name</label>  
                <input for="Designation" class="form-control" @bind="@party.PartyHost.LastName" />  
            </div>
        </div>
    </div>
</form>


@code {
    [Parameter]
    public int id { get; set; }

    private Party party = new();

    protected override async Task OnInitializedAsync()
    {
        party = await Http.GetFromJsonAsync<Party>("Home/" + id);
    }

}
