@page "/editparty/{id:int}"
@inject HttpClient Http
@inject NavigationManager UriHelper

<h3>EditParty</h3>

<EditForm Model="@party" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <p>
        <label>
            Party Name:
            <InputText @bind-Value="party.PartyName" />
        </label>
    </p>
    <p>
        <label>
            Party Date:
            <InputDate @bind-Value="party.PartyDate">
            </InputDate>
        </label>
    </p>
    <div>
        <CancelButton page="partylist"></CancelButton>
        <button type="submit">Submit</button>
    </div>
</EditForm>


@code {
    [Parameter]
    public int id { get; set; }

    private Party party = new();

    protected override async Task OnInitializedAsync()
    {
        party = await Http.GetFromJsonAsync<Party>("Party/" + id);
    }

    public async void HandleValidSubmit()
    {
        var result = await Http.PutAsJsonAsync("Party/" + id, party);
        if (result != null)
        {
            UriHelper.NavigateTo("partylist");
        }
        
    }
}
