@page "/edituser/{id:int}"
@inject HttpClient Http
@inject NavigationManager UriHelper

<h3>Edit User</h3>

<EditForm Model="@partyGuest" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <p>
        <label>
            Party Guest Name:
            <InputText @bind-Value="partyGuest.PartyGuestName" />
        </label>
    </p>
    <div>
        <CancelButton page="userlist"></CancelButton>
        <button type="submit">Submit</button>
    </div>
</EditForm>


@code {
    [Parameter]
    public int id { get; set; }

    private PartyGuest partyGuest = new();
    private List<PartyGuest> partyGuests = new();
    private List<Party> parties = new();

    protected override async Task OnInitializedAsync()
    {
        partyGuest = await Http.GetFromJsonAsync<PartyGuest>("PartyGuest/" + id);
    }

    public async void HandleValidSubmit()
    {
        
        await Http.PutAsJsonAsync("PartyGuest/" + id, partyGuest);
        parties = await Http.GetFromJsonAsync<List<Party>>("Party");
        partyGuests = await Http.GetFromJsonAsync<List<PartyGuest>>("PartyGuest");    
            
        
        foreach(var party in parties)
        {
            if (party.PartyHost.PartyGuestID == id)
            {
                party.PartyHost = partyGuests.FirstOrDefault(s => s.PartyGuestID == id);
                await Http.PutAsJsonAsync("Party/" + party.PartyID, party);
            }
        }
        UriHelper.NavigateTo("userlist");
        
        
    }
}
