@page "/"

<PageTitle>Index</PageTitle>

<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <img class="card-img-top" src="images/christmas_party.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Events</h5>
        <p class="card-text">Click here to see all of our scheduled parties.</p>
        <a href="partylist" class="btn btn-primary">Click Here!</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <img class="card-img-top" src="images/party_people.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Hosts</h5>
        <p class="card-text">Click here to see all of our party hosts.</p>
        <a href="userlist" class="btn btn-primary">Click Here!</a>
      </div>
    </div>
  </div>
</div>
