@page "/newparty"
@inject HttpClient Http
@inject NavigationManager UriHelper

<h3>New Party</h3>

<EditForm Model="@party" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <p>
        <label>
            Party Name:
            <InputText @bind-Value="party.PartyName" />
        </label>
    </p>
    <p>
        <label>
            Party Host First Name:
            <InputText @bind-Value="party.PartyHost.FirstName" />
        </label>
    </p>
    <p>
        <label>
            Party Host Last Name:
            <InputText @bind-Value="party.PartyHost.LastName" />
        </label>
    </p>
    <p>
        <label>
            Party Date:
            <InputDate @bind-Value="party.PartyDate">
            </InputDate>
        </label>
    </p>
    <div>
        <CancelButton page="partylist"></CancelButton>
        <button type="submit">Submit</button>
    </div>
</EditForm>

@code {

    private Party party = new();

    public async void HandleValidSubmit()
    {
        await Http.PostAsJsonAsync("Party", party);
        UriHelper.NavigateTo("partylist");
    }
}
